In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
data = pd.read_csv('NACA0015.csv')
cl_target = np.interp(-19.20, data['Alpha'], data['Cl'])
cl_target

-1.31904

In [8]:
data

     Alpha      Cl       Cd      Cdp      Cm  Top_Xtr  Bot_Xtr
0   -19.75 -1.2970  0.09858  0.09490 -0.0142   1.0000   0.0253
1   -19.50 -1.3072  0.09342  0.08964 -0.0166   1.0000   0.0255
2   -19.25 -1.3172  0.08835  0.08447 -0.0189   1.0000   0.0257
3   -19.00 -1.3264  0.08347  0.07949 -0.0210   1.0000   0.0259
4   -18.75 -1.3346  0.07874  0.07466 -0.0231   1.0000   0.0260
..     ...     ...      ...      ...     ...      ...      ...
151  18.25  1.3550  0.06937  0.06509  0.0265   0.0263   1.0000
152  18.50  1.3453  0.07406  0.06988  0.0246   0.0261   1.0000
153  18.75  1.3383  0.07856  0.07448  0.0227   0.0260   1.0000
154  19.00  1.3300  0.08330  0.07932  0.0207   0.0258   1.0000
155  19.25  1.3208  0.08819  0.08431  0.0185   0.0257   1.0000

[156 rows x 7 columns]